body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the content takes at least the full height of the viewport */
}

header {
    background-color: #A569BD;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 40px;
}

nav {
    background-color: #5DADE2;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu button {
    background-color: #5DADE2; /* Matching the header color */
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    flex: 1; /* Allow the container to grow and take remaining vertical space */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Negative margin to counteract padding in columns */
}

.column {
    flex: 0 0 33.33%; /* 3 columns in a row */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
    border: 2px solid transparent; /* Default border with transparency */
}

/* Border properties for images */
.column img {
    border: 8px solid transparent; /* Default border with transparency */
    border-radius: 10px; /* Border radius */
}

/* Light blue border class */
.light-blue-border img {
    border-color: lightblue;
}

/* Pink border class */
.pink-border img {
    border-color: pink;
}

.column2 {
    flex: 0 0 50%; /* 3 columns in a row */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
}

.column img {
    max-width: 100%;
    border-radius: 40px; /* Add rounded corners */
}

.column2 img {
    max-width: 100%;
    border-radius: 40px; /* Add rounded corners */
}

.label {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px; /* Adjust the top margin as needed */
}

.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); /* Adjust the scale to make it 80% */
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    max-width: 80%; /* Limit the maximum width to 80% of the viewport */
    max-height: 80%; /* Limit the maximum height to 80% of the viewport */
}

/* Hide enlarged image by default */
.enlarged.hidden {
    display: none;
}

footer {
    background-color: #A569BD;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom */
}